In [1]:
#Import all the libraries
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from functools import reduce
import math
import urllib
import difflib 
import seaborn as sns
import sklearn.model_selection
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import cross_val_score

# Step One
### First we must load the data we previously prepared from the 'Data Loading' notebook, QS 2023 university ranking data.

In [26]:
'''Loads the dataframe of the spreadsheets with the data all together'''
df_All_Companies_merged = pd. read_pickle(r'Data\df_All_Companies_merged.pkl')
df_Successful_merged = pd. read_pickle(r'Data\df_SuccessfulInvestor_merged.pkl')

In [27]:
X = pd.DataFrame(df_All_Companies_merged).to_numpy()

In [28]:
X[100,:]

array(['Clockwise', 'getclockwise.com', Timestamp('2016-01-01 00:00:00'),
       'San Francisco',
       'Artificial Intelligence,Enterprise Software,Machine Learning,Productivity Tools,Software',
       'Artificial Intelligence,Data and Analytics,Science and Engineering,Software',
       'Clockwise is an intelligent calendar system that uses artificial intelligence to help people get a dedicated block of time to be productive.',
       'Accel,SV Angel',
       'Dartmouth College,Stanford University,University of Pennsylvania Law School',
       'Masters,unknown,unknown', 'Computer Science,unknown,unknown',
       'male,male,male', 'San Francisco,San Francisco,San Francisco',
       'Clockwise,Clockwise,Clockwise,LegalReach,RelateIQ,alesforce.com',
       'Co-Founder & CEO,Co-Founder & CTO,Co-Founder and CTO,Front-end Engineer,Manager, Front-End Engineering,head of product',
       1], dtype=object)

In [29]:
#Importing importing QS university ranking data
df_University_Rankings = pd.read_excel(r'Data/2022_QS_World_University_Rankings_Results_public_version_modified.xlsx')

## City

In [83]:
temp = df_Successful_merged['city'].values[:].tolist()
list_all_city_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_city_unfiltered = reduce(lambda x,y :x+y ,list_all_city_unfiltered)
list_all_city = list(set(list_all_city_unfiltered))
list_all_city_and_count = [[0,x] for x in list_all_city]

for x in list_all_city_unfiltered:
    idx = list_all_city.index(x)
    list_all_city_and_count[idx][0] += 1

list_all_city_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_city_and_count):
    if idx == 30: break
    print('The top {} city is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 city is San Francisco occuring 1017 times
The top 2 city is New York occuring 530 times
The top 3 city is Los Angeles occuring 119 times
The top 4 city is Palo Alto occuring 115 times
The top 5 city is Boston occuring 85 times
The top 6 city is Mountain View occuring 60 times
The top 7 city is Brooklyn occuring 55 times
The top 8 city is San Mateo occuring 48 times
The top 9 city is Seattle occuring 47 times
The top 10 city is Cambridge occuring 37 times
The top 11 city is Austin occuring 37 times
The top 12 city is Redwood City occuring 36 times
The top 13 city is Santa Monica occuring 35 times
The top 14 city is Oakland occuring 28 times
The top 15 city is Chicago occuring 26 times
The top 16 city is San Jose occuring 25 times
The top 17 city is Menlo Park occuring 25 times
The top 18 city is Washington occuring 20 times
The top 19 city is Santa Clara occuring 20 times
The top 20 city is Berkeley occuring 20 times
The top 21 city is San Diego occuring 16 times
The top 22 city is Denver occuring 14 times
The top 23 city is Venice occuring 12 times
The top 24 city is Portland occuring 12 times
The top 25 city is Atlanta occuring 12 times
The top 26 city is Sunnyvale occuring 11 times
The top 27 city is Philadelphia occuring 11 times
The top 28 city is Burlingame occuring 11 times
The top 29 city is Boulder occuring 11 times
The top 30 city is Miami occuring 10 times

## Category list

In [31]:
temp = df_Successful_merged['category_list'].values[:].tolist()
list_all_category_list_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_category_list_unfiltered = reduce(lambda x,y :x+y ,list_all_category_list_unfiltered)
list_all_category_list = list(set(list_all_category_list_unfiltered))
list_all_category_list_and_count = [[0,x] for x in list_all_category_list]

for x in list_all_category_list_unfiltered:
    idx = list_all_category_list.index(x)
    list_all_category_list_and_count[idx][0] += 1

list_all_category_list_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_category_list_and_count):
    if idx == 40: break
    print('The top {} category list is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 category list is Software occuring 834 times
The top 2 category list is Information Technology occuring 330 times
The top 3 category list is Health Care occuring 312 times
The top 4 category list is E-Commerce occuring 290 times
The top 5 category list is Internet occuring 277 times
The top 6 category list is SaaS occuring 276 times
The top 7 category list is FinTech occuring 266 times
The top 8 category list is Mobile occuring 238 times
The top 9 category list is Artificial Intelligence occuring 235 times
The top 10 category list is Financial Services occuring 232 times
The top 11 category list is Enterprise Software occuring 211 times
The top 12 category list is Analytics occuring 191 times
The top 13 category list is Apps occuring 180 times
The top 14 category list is Machine Learning occuring 176 times
The top 15 category list is Finance occuring 131 times
The top 16 category list is Big Data occuring 119 times
The top 17 category list is Education occuring 113 times
The top 18 category list is Marketplace occuring 112 times
The top 19 category list is Mobile Apps occuring 106 times
The top 20 category list is Biotechnology occuring 96 times
The top 21 category list is Real Estate occuring 95 times
The top 22 category list is Wellness occuring 92 times
The top 23 category list is Social Media occuring 84 times
The top 24 category list is Medical occuring 84 times
The top 25 category list is Retail occuring 79 times
The top 26 category list is Blockchain occuring 77 times
The top 27 category list is Payments occuring 75 times
The top 28 category list is Human Resources occuring 73 times
The top 29 category list is Security occuring 69 times
The top 30 category list is Cryptocurrency occuring 65 times
The top 31 category list is Cloud Computing occuring 65 times
The top 32 category list is Fashion occuring 64 times
The top 33 category list is Food and Beverage occuring 62 times
The top 34 category list is Computer occuring 62 times
The top 35 category list is Advertising occuring 62 times
The top 36 category list is Logistics occuring 61 times
The top 37 category list is Robotics occuring 59 times
The top 38 category list is Cyber Security occuring 57 times
The top 39 category list is Developer Tools occuring 56 times
The top 40 category list is Developer APIs occuring 55 times

## Category list group

In [86]:
temp = df_Successful_merged['category_groups_list'].values[:].tolist()
list_all_category_groups_list_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_category_groups_list_unfiltered = reduce(lambda x,y :x+y ,list_all_category_groups_list_unfiltered)
list_all_category_groups_list = list(set(list_all_category_groups_list_unfiltered))
list_all_category_groups_list_and_count = [[0,x] for x in list_all_category_groups_list]

for x in list_all_category_groups_list_unfiltered:
    idx = list_all_category_groups_list.index(x)
    list_all_category_groups_list_and_count[idx][0] += 1

list_all_category_groups_list_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_category_groups_list_and_count):
    if idx == 35: break
    print('The top {} category groups list is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 category groups list is Software occuring 1609 times
The top 2 category groups list is Information Technology occuring 653 times
The top 3 category groups list is Internet Services occuring 646 times
The top 4 category groups list is Data and Analytics occuring 571 times
The top 5 category groups list is Financial Services occuring 514 times
The top 6 category groups list is Other occuring 442 times
The top 7 category groups list is Commerce and Shopping occuring 439 times
The top 8 category groups list is Health Care occuring 416 times
The top 9 category groups list is Science and Engineering occuring 414 times
The top 10 category groups list is Mobile occuring 393 times
The top 11 category groups list is Hardware occuring 375 times
The top 12 category groups list is Media and Entertainment occuring 341 times
The top 13 category groups list is Artificial Intelligence occuring 301 times
The top 14 category groups list is Apps occuring 295 times
The top 15 category groups list is Sales and Marketing occuring 227 times
The top 16 category groups list is Professional Services occuring 223 times
The top 17 category groups list is Community and Lifestyle occuring 211 times
The top 18 category groups list is Transportation occuring 186 times
The top 19 category groups list is Real Estate occuring 184 times
The top 20 category groups list is Payments occuring 175 times
The top 21 category groups list is Design occuring 163 times
The top 22 category groups list is Consumer Electronics occuring 147 times
The top 23 category groups list is Privacy and Security occuring 145 times
The top 24 category groups list is Administrative Services occuring 144 times
The top 25 category groups list is Education occuring 140 times
The top 26 category groups list is Consumer Goods occuring 121 times
The top 27 category groups list is Food and Beverage occuring 117 times
The top 28 category groups list is Content and Publishing occuring 112 times
The top 29 category groups list is Biotechnology occuring 108 times
The top 30 category groups list is Sports occuring 99 times
The top 31 category groups list is Lending and Investments occuring 91 times
The top 32 category groups list is Video occuring 89 times
The top 33 category groups list is Messaging and Telecommunications occuring 89 times
The top 34 category groups list is Travel and Tourism occuring 78 times
The top 35 category groups list is Advertising occuring 72 times

## All_seed_investors

In [87]:
temp = df_Successful_merged['all_seed_investors'].values[:].tolist()
list_all_seed_investors_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_seed_investors_unfiltered = reduce(lambda x,y :x+y ,list_all_seed_investors_unfiltered)
list_all_seed_investors = list(set(list_all_seed_investors_unfiltered))
list_all_seed_investors_and_count = [[0,x] for x in list_all_seed_investors]

for x in list_all_seed_investors_unfiltered:
    idx = list_all_seed_investors.index(x)
    list_all_seed_investors_and_count[idx][0] += 1

list_all_seed_investors_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_seed_investors_and_count):
    if idx == 35: break
    print('The top {} all seed investor is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 all seed investor is SV Angel occuring 539 times
The top 2 all seed investor is BoxGroup occuring 248 times
The top 3 all seed investor is Great Oaks Venture Capital occuring 196 times
The top 4 all seed investor is Soma Capital occuring 177 times
The top 5 all seed investor is Initialized Capital occuring 171 times
The top 6 all seed investor is DCVC occuring 154 times
The top 7 all seed investor is Tuesday Capital occuring 127 times
The top 8 all seed investor is Ulu Ventures occuring 122 times
The top 9 all seed investor is RRE Ventures occuring 114 times
The top 10 all seed investor is Wei Guo occuring 109 times
The top 11 all seed investor is Accel occuring 106 times
The top 12 all seed investor is Acequia Capital (AceCap) occuring 100 times
The top 13 all seed investor is Abstract Ventures occuring 99 times
The top 14 all seed investor is Accomplice occuring 85 times
The top 15 all seed investor is Susa Ventures occuring 82 times
The top 16 all seed investor is Scott Belsky occuring 82 times
The top 17 all seed investor is Pear VC occuring 81 times
The top 18 all seed investor is Haystack occuring 78 times
The top 19 all seed investor is NextView Ventures occuring 76 times
The top 20 all seed investor is UpHonest Capital occuring 73 times
The top 21 all seed investor is Kevin Moore occuring 71 times
The top 22 all seed investor is Digital Currency Group occuring 67 times
The top 23 all seed investor is Amino Capital occuring 67 times
The top 24 all seed investor is Harrison Metal occuring 65 times
The top 25 all seed investor is Canaan Partners occuring 59 times
The top 26 all seed investor is Rothenberg Ventures occuring 57 times
The top 27 all seed investor is Graph Ventures occuring 57 times
The top 28 all seed investor is Kevin Mahaffey occuring 54 times
The top 29 all seed investor is Expansion Venture Capital occuring 52 times
The top 30 all seed investor is Lee Linden occuring 50 times
The top 31 all seed investor is ACE & Company occuring 49 times
The top 32 all seed investor is Tim Draper occuring 48 times
The top 33 all seed investor is Atlas Venture occuring 48 times
The top 34 all seed investor is Spark Capital occuring 44 times
The top 35 all seed investor is Social Leverage occuring 44 times

## University of founders

In [32]:
temp = df_All_Companies_merged['universities_of_founders'].values[:].tolist()
list_all_universities_of_founders_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_universities_of_founders_unfiltered = reduce(lambda x,y :x+y ,list_all_universities_of_founders_unfiltered)
list_all_universities_of_founders = list(set(list_all_universities_of_founders_unfiltered))
list_all_universities_of_founders_and_count = [[0,x] for x in list_all_universities_of_founders]

for x in list_all_universities_of_founders_unfiltered:
    idx = list_all_universities_of_founders.index(x)
    list_all_universities_of_founders_and_count[idx][0] += 1

list_all_universities_of_founders_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_universities_of_founders_and_count):
    if idx == 35: break
    print('The top {} all university of founder is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 all university of founder is Stanford University occuring 1421 times
The top 2 all university of founder is Massachusetts Institute of Technology occuring 795 times
The top 3 all university of founder is University of California Berkeley occuring 698 times
The top 4 all university of founder is University of California occuring 589 times
The top 5 all university of founder is Harvard University occuring 481 times
The top 6 all university of founder is Harvard Business School occuring 399 times
The top 7 all university of founder is Carnegie Mellon University occuring 356 times
The top 8 all university of founder is University of Pennsylvania occuring 350 times
The top 9 all university of founder is Cornell University occuring 316 times
The top 10 all university of founder is Wharton School of the University of Pennsylvania occuring 305 times
The top 11 all university of founder is Stanford Graduate School of Business occuring 303 times
The top 12 all university of founder is University of Southern California occuring 281 times
The top 13 all university of founder is  Los Angeles occuring 273 times
The top 14 all university of founder is Yale University occuring 258 times
The top 15 all university of founder is Columbia University occuring 257 times
The top 16 all university of founder is Duke University occuring 239 times
The top 17 all university of founder is Princeton University occuring 238 times
The top 18 all university of founder is University of Michigan occuring 236 times
The top 19 all university of founder is The University of Texas at Austin occuring 208 times
The top 20 all university of founder is New York University occuring 194 times
The top 21 all university of founder is Northwestern University occuring 180 times
The top 22 all university of founder is University of Washington occuring 165 times
The top 23 all university of founder is Brown University occuring 160 times
The top 24 all university of founder is University of Illinois Urbana-Champaign occuring 158 times
The top 25 all university of founder is University of Virginia occuring 130 times
The top 26 all university of founder is Georgia Institute of Technology occuring 126 times
The top 27 all university of founder is Dartmouth College occuring 126 times
The top 28 all university of founder is MIT - Sloan School of Management occuring 124 times
The top 29 all university of founder is University of Wisconsin - Madison occuring 119 times
The top 30 all university of founder is Columbia Business School occuring 119 times
The top 31 all university of founder is Georgetown University occuring 115 times
The top 32 all university of founder is University of Waterloo occuring 112 times
The top 33 all university of founder is University of Cambridge occuring 112 times
The top 34 all university of founder is Tel Aviv University occuring 111 times
The top 35 all university of founder is University of Oxford occuring 110 times

## Degree of founders

In [13]:
temp = df_Successful_merged['degrees_of_founders'].values[:].tolist()
list_all_degrees_of_founders_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_degrees_of_founders_unfiltered = reduce(lambda x,y :x+y ,list_all_degrees_of_founders_unfiltered)
list_all_degrees_of_founders = list(set(list_all_degrees_of_founders_unfiltered))
list_all_degrees_of_founders_and_count = [[0,x] for x in list_all_degrees_of_founders]

for x in list_all_degrees_of_founders_unfiltered:
    idx = list_all_degrees_of_founders.index(x)
    list_all_degrees_of_founders_and_count[idx][0] += 1

list_all_degrees_of_founders_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_degrees_of_founders_and_count):
    if idx == 20: break
    print('The top {} all degree of founder is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 all degree of founder is BS occuring 765 times
The top 2 all degree of founder is BA occuring 514 times
The top 3 all degree of founder is MBA occuring 477 times
The top 4 all degree of founder is unknown occuring 332 times
The top 5 all degree of founder is MS occuring 325 times
The top 6 all degree of founder is B.S. occuring 208 times
The top 7 all degree of founder is B.A. occuring 144 times
The top 8 all degree of founder is PhD occuring 128 times
The top 9 all degree of founder is B.S occuring 104 times
The top 10 all degree of founder is BBA occuring 67 times
The top 11 all degree of founder is M.S. occuring 61 times
The top 12 all degree of founder is Ph.D occuring 60 times
The top 13 all degree of founder is Bachelor occuring 55 times
The top 14 all degree of founder is Ph.D. occuring 53 times
The top 15 all degree of founder is Bachelor of Science occuring 50 times
The top 16 all degree of founder is BSc occuring 49 times
The top 17 all degree of founder is MA occuring 47 times
The top 18 all degree of founder is MSc occuring 45 times
The top 19 all degree of founder is Graduate occuring 43 times
The top 20 all degree of founder is Bachelor's Degree occuring 42 times

## Subject_degrees_of_founders

In [35]:
temp = df_Successful_merged['subject_degrees_of_founders'].values[:].tolist()
list_all_subject_degrees_of_founders_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_subject_degrees_of_founders_unfiltered = reduce(lambda x,y :x+y ,list_all_subject_degrees_of_founders_unfiltered)
list_all_subject_degrees_of_founders = list(set(list_all_subject_degrees_of_founders_unfiltered))
list_all_subject_degrees_of_founders_and_count = [[0,x] for x in list_all_subject_degrees_of_founders]

for x in list_all_subject_degrees_of_founders_unfiltered:
    idx = list_all_subject_degrees_of_founders.index(x)
    list_all_subject_degrees_of_founders_and_count[idx][0] += 1

list_all_subject_degrees_of_founders_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_subject_degrees_of_founders_and_count):
    if idx == 40: break
    print('The top {} all degree of founder is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 all degree of founder is Computer Science occuring 732 times
The top 2 all degree of founder is unknown occuring 582 times
The top 3 all degree of founder is Economics occuring 203 times
The top 4 all degree of founder is Electrical Engineering occuring 165 times
The top 5 all degree of founder is Finance occuring 104 times
The top 6 all degree of founder is Mechanical Engineering occuring 99 times
The top 7 all degree of founder is Computer Engineering occuring 90 times
The top 8 all degree of founder is Business Administration occuring 61 times
The top 9 all degree of founder is Business occuring 59 times
The top 10 all degree of founder is Physics occuring 55 times
The top 11 all degree of founder is Mathematics occuring 55 times
The top 12 all degree of founder is Entrepreneurship occuring 45 times
The top 13 all degree of founder is  Economics occuring 41 times
The top 14 all degree of founder is Political Science occuring 39 times
The top 15 all degree of founder is Electrical Engineering and Computer Science occuring 39 times
The top 16 all degree of founder is Engineering occuring 35 times
The top 17 all degree of founder is  Computer Science occuring 34 times
The top 18 all degree of founder is Marketing occuring 32 times
The top 19 all degree of founder is Philosophy occuring 30 times
The top 20 all degree of founder is Law occuring 30 times
The top 21 all degree of founder is Electrical Engineering & Computer Science occuring 29 times
The top 22 all degree of founder is Psychology occuring 28 times
The top 23 all degree of founder is Management occuring 27 times
The top 24 all degree of founder is History occuring 26 times
The top 25 all degree of founder is Biology occuring 26 times
The top 26 all degree of founder is  Mathematics occuring 25 times
The top 27 all degree of founder is Electrical and Computer Engineering occuring 24 times
The top 28 all degree of founder is Software Engineering occuring 22 times
The top 29 all degree of founder is Information Systems occuring 22 times
The top 30 all degree of founder is International Relations occuring 19 times
The top 31 all degree of founder is Biomedical Engineering occuring 19 times
The top 32 all degree of founder is  Finance occuring 18 times
The top 33 all degree of founder is  Entrepreneurship occuring 17 times
The top 34 all degree of founder is Neuroscience occuring 16 times
The top 35 all degree of founder is Computer Science and Engineering occuring 16 times
The top 36 all degree of founder is Chemistry occuring 16 times
The top 37 all degree of founder is Bioengineering occuring 16 times
The top 38 all degree of founder is Aerospace Engineering occuring 16 times
The top 39 all degree of founder is Sociology occuring 15 times
The top 40 all degree of founder is Information Technology occuring 15 times

## prev_companies_of_founders

In [36]:
temp = df_Successful_merged['prev_companies_of_founders'].values[:].tolist()
list_all_prev_companies_of_founders_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_prev_companies_of_founders_unfiltered = reduce(lambda x,y :x+y ,list_all_prev_companies_of_founders_unfiltered)
list_all_prev_companies_of_founders = list(set(list_all_prev_companies_of_founders_unfiltered))
list_all_prev_companies_of_founders_and_count = [[0,x] for x in list_all_prev_companies_of_founders]

for x in list_all_prev_companies_of_founders_unfiltered:
    idx = list_all_prev_companies_of_founders.index(x)
    list_all_prev_companies_of_founders_and_count[idx][0] += 1

list_all_prev_companies_of_founders_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_prev_companies_of_founders_and_count):
    if idx == 35: break
    print('The top {} previous company is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 previous company is Google occuring 220 times
The top 2 previous company is Microsoft occuring 114 times
The top 3 previous company is Meta occuring 87 times
The top 4 previous company is Yahoo occuring 73 times
The top 5 previous company is  Inc. occuring 73 times
The top 6 previous company is Apple occuring 47 times
The top 7 previous company is Branch occuring 45 times
The top 8 previous company is Twitter occuring 43 times
The top 9 previous company is Stanford University occuring 42 times
The top 10 previous company is Goldman Sachs occuring 41 times
The top 11 previous company is Cisco occuring 40 times
The top 12 previous company is IBM occuring 38 times
The top 13 previous company is Techstars occuring 36 times
The top 14 previous company is McKinsey & Company occuring 36 times
The top 15 previous company is Amazon occuring 35 times
The top 16 previous company is Groupon occuring 33 times
The top 17 previous company is Cobalt occuring 32 times
The top 18 previous company is 500 Startups occuring 32 times
The top 19 previous company is Zynga occuring 28 times
The top 20 previous company is Salesforce occuring 27 times
The top 21 previous company is Accenture occuring 27 times
The top 22 previous company is Y Combinator occuring 26 times
The top 23 previous company is PayPal occuring 26 times
The top 24 previous company is Massachusetts Institute of Technology occuring 25 times
The top 25 previous company is Embark occuring 24 times
The top 26 previous company is Pioneer Fund occuring 23 times
The top 27 previous company is LinkedIn occuring 23 times
The top 28 previous company is Intel occuring 23 times
The top 29 previous company is Deloitte occuring 23 times
The top 30 previous company is Palantir Technologies occuring 22 times
The top 31 previous company is Morgan Stanley occuring 21 times
The top 32 previous company is Oracle occuring 20 times
The top 33 previous company is Dropbox occuring 20 times
The top 34 previous company is Uber occuring 19 times
The top 35 previous company is Etsy occuring 19 times

## Prev_title_of_founders

In [37]:
temp = df_Successful_merged['prev_title_of_founders'].values[:].tolist()
list_all_prev_title_of_founders_unfiltered = [x.split(',') for x in temp if isinstance(x, str)]
list_all_prev_title_of_founders_unfiltered = reduce(lambda x,y :x+y ,list_all_prev_title_of_founders_unfiltered)
list_all_prev_title_of_founders = list(set(list_all_prev_title_of_founders_unfiltered))
list_all_prev_title_of_founders_and_count = [[0,x] for x in list_all_prev_title_of_founders]

for x in list_all_prev_title_of_founders_unfiltered:
    idx = list_all_prev_title_of_founders.index(x)
    list_all_prev_title_of_founders_and_count[idx][0] += 1

list_all_prev_title_of_founders_and_count.sort(reverse=True)

for idx, value in enumerate(list_all_prev_title_of_founders_and_count):
    if idx == 20: break
    print('The top {} previous title of founders is {} occuring {} times'.format(idx + 1, value[1], value[0] ))

The top 1 previous title of founders is Co-Founder occuring 1843 times
The top 2 previous title of founders is Founder occuring 1098 times
The top 3 previous title of founders is Advisor occuring 968 times
The top 4 previous title of founders is Founder & CEO occuring 698 times
The top 5 previous title of founders is Co-Founder & CEO occuring 572 times
The top 6 previous title of founders is Board Member occuring 572 times
The top 7 previous title of founders is Co-founder occuring 470 times
The top 8 previous title of founders is CEO occuring 339 times
The top 9 previous title of founders is Co-Founder and CEO occuring 314 times
The top 10 previous title of founders is Co-Founder & CTO occuring 312 times
The top 11 previous title of founders is Team Member occuring 272 times
The top 12 previous title of founders is Founder and CEO occuring 271 times
The top 13 previous title of founders is Investor occuring 267 times
The top 14 previous title of founders is Software Engineer occuring 243 times
The top 15 previous title of founders is  CEO occuring 215 times
The top 16 previous title of founders is Director occuring 213 times
The top 17 previous title of founders is CTO occuring 202 times
The top 18 previous title of founders is CEO & Co-Founder occuring 186 times
The top 19 previous title of founders is Co-founder & CEO occuring 167 times
The top 20 previous title of founders is Partner occuring 153 times